.user-avatar {
    margin-right: 0.5em !important;
}

.user-power {
    border-bottom: 1px dotted;
}

.change-decision-label {
    font-size: 1rem !important;
}

.segment.masthead {
    min-height: 700px;
}

@media screen and (max-width: 700px) {
    .segment.masthead {
        min-height: 550px;
    }
}

.masthead h1.ui.header.extra-margin {
    margin-top: 3em;
}

@media screen and (max-width: 700px) {
    .masthead h1.ui.header.extra-margin {
        margin-top: 1.5em;
    }
}

.masthead h1.ui.header {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    font-size: 4em;
    font-weight: normal;
}

.voter-span {
    color: rgb(246, 83, 40)
}

.brand-red-background {
    background-color: rgb(246, 83, 40) !important
}

.brand-green-background {
    background-color: rgb(140, 190, 68) !important
}

.melon-span {
    color: rgb(140, 190, 68)
}

.twitter-span {
    color: rgb(40, 135, 205)
}

.ui.header.logo-span {
    margin-top: 2em;
    margin-bottom: 1em;
    font-family: monospace;
}

.ui.vertical.stripe {
    padding: 5em 0;
}

@media screen and (max-width: 700px) {
    .ui.vertical.stripe {
        padding: 2em 0;
    }
}

.ui.vertical.stripe .row {
    padding: 3em 0;
}

.ui.vertical.stripe h3 {
    font-size: 2em;
}

.ui.vertical.stripe p {
    font-size: 1.33em;
}

.ui.vertical.stripe p + h3 {
    margin-top: 3em;
}

.ui.list.alice-list {
    padding-top: 1em;
    padding-left: 1.5em;
}

.ui.list.alice-list .icon {
    min-width: 27px;
}

.sign-in-row {
    text-align: center;
    padding-top: 2em;
}

.ui.card.user-card .ui.avatar.image {
    margin-bottom: 0.5em;
}

.ui.grid.influencers-list {
    margin-top: 2em;
}

.ui.segment.question-card .title {
    min-height: 80px;
}

.ui.segment.question-card img {
    height: 327px;
}

.ui.header.question-text {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    font-size: 4em;
    font-weight: normal;
}

.scam-header {
    color: rgb(246, 83, 40) !important;
}

.legit-header {
    color: rgb(140, 190, 68) !important;
}

.scam-text-color {
    color: rgb(246, 83, 40) !important;
}

.legit-text-color {
    color: rgb(140, 190, 68) !important;
}

.ui.grid.decision-grid {
    margin-top: 2em;
    margin-bottom: 2em;
}